# ==========================================================
# SOMA BlueprintOS
# Global Git Ignore
# ==========================================================

# ----------------------------------------------------------
# macOS
# ----------------------------------------------------------
.DS_Store

# ----------------------------------------------------------
# Visual Studio Code
# ----------------------------------------------------------
.vscode/

# ----------------------------------------------------------
# Logs
# ----------------------------------------------------------
*.log

# ----------------------------------------------------------
# Temporary files
# ----------------------------------------------------------
*.tmp
*.temp

# ----------------------------------------------------------
# Windows
# ----------------------------------------------------------
Thumbs.db
Desktop.ini

# ----------------------------------------------------------
# Environment
# ----------------------------------------------------------
.env
.env.*

!.env.example